USE [master]
GO
/****** Object:  Database [QUANLYHOCSINH]    Script Date: 6/14/2023 2:19:59 PM ******/
CREATE DATABASE [QUANLYHOCSINH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYHOCSINH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS09\MSSQL\DATA\QUANLYHOCSINH.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QUANLYHOCSINH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS09\MSSQL\DATA\QUANLYHOCSINH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYHOCSINH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYHOCSINH]
GO
/****** Object:  Table [dbo].[DIEMMONHOC]    Script Date: 6/14/2023 2:20:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEMMONHOC](
	[MAHS] [nvarchar](7) NOT NULL,
	[MAHK] [nvarchar](7) NOT NULL,
	[MAMH] [nvarchar](7) NOT NULL,
	[MANH] [nvarchar](7) NOT NULL,
	[MALKT] [nvarchar](7) NOT NULL,
	[LANKT] [int] NOT NULL,
	[DIEM] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHS] ASC,
	[MAHK] ASC,
	[MANH] ASC,
	[MAMH] ASC,
	[MALKT] ASC,
	[LANKT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIEMTRUNGBINHMONHOCNAMHOC]    Script Date: 6/14/2023 2:20:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEMTRUNGBINHMONHOCNAMHOC](
	[MAHS] [nvarchar](7) NOT NULL,
	[MANH] [nvarchar](7) NOT NULL,
	[MAMH] [nvarchar](7) NOT NULL,
	[DTBMonHocNamHoc] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHS] ASC,
	[MANH] ASC,
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 6/14/2023 2:20:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MAGV] [nvarchar](7) NOT NULL,
	[USERNAME] [nvarchar](100) NOT NULL,
	[HOCVI] [nvarchar](50) NULL,
	[ISDELETED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANHKIEM]    Script Date: 6/14/2023 2:20:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANHKIEM](
	[MaHanhKiem] [nvarchar](7) NOT NULL,
	[TenHanhKiem] [nvarchar](50) NOT NULL,
	[ISDELETED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHanhKiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCKY]    Script Date: 6/14/2023 2:20:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCKY](
	[MAHK] [nvarchar](7) NOT NULL,
	[TENHK] [nvarchar](20) NULL,
	[ISDELETED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCLUC]    Script Date: 6/14/2023 2:20:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCLUC](
	[MaHocLuc] [nvarchar](7) NOT NULL,
	[TenHocLuc] [nvarchar](50) NOT NULL,
	[DiemCanDuoi] [float] NOT NULL,
	[DiemCanTren] [float] NOT NULL,
	[DiemKhongChe] [float] NOT NULL,
	[ISDELETED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHocLuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCSINH]    Script Date: 6/14/2023 2:20:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCSINH](
	[MAHS] [nvarchar](7) NOT NULL,
	[CCCD] [nvarchar](12) NULL,
	[HOTENHS] [nvarchar](100) NULL,
	[NGSINH] [smalldatetime] NULL,
	[EMAIL] [nvarchar](250) NULL,
	[SDT] [nvarchar](11) NULL,
	[DCHI] [nvarchar](250) NULL,
	[GIOITINH] [bit] NULL,
	[TONGIAO] [nvarchar](10) NULL,
	[DANTOC] [nvarchar](10) NULL,
	[ISDELETED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KETQUA]    Script Date: 6/14/2023 2:20:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KETQUA](
	[MaKetQua] [nvarchar](7) NOT NULL,
	[TenKetQua] [nvarchar](50) NOT NULL,
	[ISDELETED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKetQua] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHANANGGIANGDAY]    Script Date: 6/14/2023 2:20:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHANANGGIANGDAY](
	[MAGV] [nvarchar](7) NOT NULL,
	[MAMH] [nvarchar](7) NOT NULL,
	[ISDELETED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC,
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KQHOCKYMONHOC]    Script Date: 6/14/2023 2:20:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KQHOCKYMONHOC](
	[MAHS] [nvarchar](7) NOT NULL,
	[MAMH] [nvarchar](7) NOT NULL,
	[MAHK] [nvarchar](7) NOT NULL,
	[MANH] [nvarchar](7) NOT NULL,
	[DTBMonHocKy] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHS] ASC,
	[MAMH] ASC,
	[MAHK] ASC,
	[MANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KQHOCKYTONGHOP]    Script Date: 6/14/2023 2:20:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KQHOCKYTONGHOP](
	[MAHS] [nvarchar](7) NOT NULL,
	[MAHK] [nvarchar](7) NOT NULL,
	[MANH] [nvarchar](7) NOT NULL,
	[MaHocLuc] [nvarchar](7) NULL,
	[MaHanhKiem] [nvarchar](7) NULL,
	[DTBTatCaMonHocKy] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHS] ASC,
	[MAHK] ASC,
	[MANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KQNAMHOC]    Script Date: 6/14/2023 2:20:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KQNAMHOC](
	[MAHS] [nvarchar](7) NOT NULL,
	[MANH] [nvarchar](7) NOT NULL,
	[MaHocLuc] [nvarchar](7) NULL,
	[MaHanhKiem] [nvarchar](7) NULL,
	[MaKetQua] [nvarchar](7) NULL,
	[DTBNamHoc] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHS] ASC,
	[MANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIKIEMTRA]    Script Date: 6/14/2023 2:20:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIKIEMTRA](
	[MALKT] [nvarchar](7) NOT NULL,
	[TENLOAIKIEMTRA] [nvarchar](50) NULL,
	[TILE] [float] NOT NULL,
	[ISDELETED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MALKT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 6/14/2023 2:20:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [nvarchar](7) NOT NULL,
	[KHOI] [int] NULL,
	[TENLOP] [nvarchar](7) NULL,
	[ISDELETED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOPHOCTHUCTE]    Script Date: 6/14/2023 2:20:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOPHOCTHUCTE](
	[MALHTT] [nvarchar](10) NOT NULL,
	[MALOP] [nvarchar](7) NULL,
	[MANH] [nvarchar](7) NULL,
	[MAGVCN] [nvarchar](7) NULL,
	[ISDELETED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MALHTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOPHOCTHUCTE_HOCSINH]    Script Date: 6/14/2023 2:20:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOPHOCTHUCTE_HOCSINH](
	[MALHTT] [nvarchar](10) NOT NULL,
	[MAHS] [nvarchar](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALHTT] ASC,
	[MAHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 6/14/2023 2:20:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [nvarchar](7) NOT NULL,
	[TENMH] [nvarchar](30) NULL,
	[ISDELETED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NAMHOC]    Script Date: 6/14/2023 2:20:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NAMHOC](
	[MANH] [nvarchar](7) NOT NULL,
	[TENNAMHOC] [nvarchar](20) NULL,
	[ISDELETED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIENPHONGDAOTAO]    Script Date: 6/14/2023 2:20:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIENPHONGDAOTAO](
	[MANV] [nvarchar](7) NOT NULL,
	[USERNAME] [nvarchar](100) NOT NULL,
	[CHUCVU] [nvarchar](50) NULL,
	[ISDELETED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANCONGGIANGDAY]    Script Date: 6/14/2023 2:20:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANCONGGIANGDAY](
	[MANH] [nvarchar](7) NOT NULL,
	[MALHTT] [nvarchar](10) NOT NULL,
	[MAGV] [nvarchar](7) NOT NULL,
	[MAMH] [nvarchar](7) NOT NULL,
	[ISDELETED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANH] ASC,
	[MALHTT] ASC,
	[MAMH] ASC,
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHHS]    Script Date: 6/14/2023 2:20:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHHS](
	[MAPHHS] [nvarchar](7) NOT NULL,
	[MAHS] [nvarchar](7) NULL,
	[HOTENPHHS] [nvarchar](100) NULL,
	[SDT] [nvarchar](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 6/14/2023 2:20:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[USERNAME] [nvarchar](100) NOT NULL,
	[PASSWRD] [nvarchar](100) NOT NULL,
	[VAITRO] [nvarchar](7) NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[NGSINH] [smalldatetime] NULL,
	[EMAIL] [nvarchar](50) NULL,
	[DCHI] [nvarchar](250) NULL,
	[GIOITINH] [bit] NULL,
	[ISDELETED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THAMSO]    Script Date: 6/14/2023 2:20:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAMSO](
	[ID] [nvarchar](10) NOT NULL,
	[TENTS] [nvarchar](100) NULL,
	[TYPETS] [nvarchar](100) NULL,
	[GIATRI] [nvarchar](1000) NULL,
	[GHICHU] [nvarchar](1000) NULL,
	[ISDELETED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DIEMMONHOC] ([MAHS], [MAHK], [MAMH], [MANH], [MALKT], [LANKT], [DIEM]) VALUES (N'HS001', N'HK001', N'MH001', N'N2023', N'LKT001', 0, 10)
INSERT [dbo].[DIEMMONHOC] ([MAHS], [MAHK], [MAMH], [MANH], [MALKT], [LANKT], [DIEM]) VALUES (N'HS001', N'HK001', N'MH001', N'N2023', N'LKT002', 0, 8)
INSERT [dbo].[DIEMMONHOC] ([MAHS], [MAHK], [MAMH], [MANH], [MALKT], [LANKT], [DIEM]) VALUES (N'HS001', N'HK001', N'MH001', N'N2023', N'LKT003', 0, 10)
GO
INSERT [dbo].[DIEMTRUNGBINHMONHOCNAMHOC] ([MAHS], [MANH], [MAMH], [DTBMonHocNamHoc]) VALUES (N'HS001', N'N2023', N'MH001', 8.8)
INSERT [dbo].[DIEMTRUNGBINHMONHOCNAMHOC] ([MAHS], [MANH], [MAMH], [DTBMonHocNamHoc]) VALUES (N'HS001', N'N2023', N'MH002', 7.9)
INSERT [dbo].[DIEMTRUNGBINHMONHOCNAMHOC] ([MAHS], [MANH], [MAMH], [DTBMonHocNamHoc]) VALUES (N'HS001', N'N2023', N'MH003', 5.55)
GO
INSERT [dbo].[GIAOVIEN] ([MAGV], [USERNAME], [HOCVI], [ISDELETED]) VALUES (N'GV001', N'user1', N'Tiến sĩ', 0)
INSERT [dbo].[GIAOVIEN] ([MAGV], [USERNAME], [HOCVI], [ISDELETED]) VALUES (N'GV002', N'user2', N'Thạc sĩ', 0)
INSERT [dbo].[GIAOVIEN] ([MAGV], [USERNAME], [HOCVI], [ISDELETED]) VALUES (N'GV003', N'user3', N'Tiến sĩ', 0)
GO
INSERT [dbo].[HANHKIEM] ([MaHanhKiem], [TenHanhKiem], [ISDELETED]) VALUES (N'HK001', N'Tốt', 0)
INSERT [dbo].[HANHKIEM] ([MaHanhKiem], [TenHanhKiem], [ISDELETED]) VALUES (N'HK002', N'Khá', 0)
INSERT [dbo].[HANHKIEM] ([MaHanhKiem], [TenHanhKiem], [ISDELETED]) VALUES (N'HK003', N'Trung bình', 0)
GO
INSERT [dbo].[HOCKY] ([MAHK], [TENHK], [ISDELETED]) VALUES (N'HK001', N'Học kỳ 1', 0)
INSERT [dbo].[HOCKY] ([MAHK], [TENHK], [ISDELETED]) VALUES (N'HK002', N'Học kỳ 2', 0)
GO
INSERT [dbo].[HOCLUC] ([MaHocLuc], [TenHocLuc], [DiemCanDuoi], [DiemCanTren], [DiemKhongChe], [ISDELETED]) VALUES (N'HL001', N'Giỏi', 8, 10, 6.5, 0)
INSERT [dbo].[HOCLUC] ([MaHocLuc], [TenHocLuc], [DiemCanDuoi], [DiemCanTren], [DiemKhongChe], [ISDELETED]) VALUES (N'HL002', N'Khá', 6.5, 7.9, 5, 0)
INSERT [dbo].[HOCLUC] ([MaHocLuc], [TenHocLuc], [DiemCanDuoi], [DiemCanTren], [DiemKhongChe], [ISDELETED]) VALUES (N'HL003', N'Trung bình', 5, 6.4, 3.5, 0)
GO
INSERT [dbo].[HOCSINH] ([MAHS], [CCCD], [HOTENHS], [NGSINH], [EMAIL], [SDT], [DCHI], [GIOITINH], [TONGIAO], [DANTOC], [ISDELETED]) VALUES (N'HS001', N'791332453236', N'Nguyễn Thị C', CAST(N'2005-03-03T00:00:00' AS SmallDateTime), N'hs1@example.com', N'123456789', N'Địa chỉ 3', 1, N'Không', N'Kinh', 0)
INSERT [dbo].[HOCSINH] ([MAHS], [CCCD], [HOTENHS], [NGSINH], [EMAIL], [SDT], [DCHI], [GIOITINH], [TONGIAO], [DANTOC], [ISDELETED]) VALUES (N'HS002', N'871942742550', N'Trần Văn D', CAST(N'2006-04-04T00:00:00' AS SmallDateTime), N'hs2@example.com', N'987654321', N'Địa chỉ 4', 0, N'Không', N'Kinh', 0)
INSERT [dbo].[HOCSINH] ([MAHS], [CCCD], [HOTENHS], [NGSINH], [EMAIL], [SDT], [DCHI], [GIOITINH], [TONGIAO], [DANTOC], [ISDELETED]) VALUES (N'HS003', N'765288561703', N'Nguyễn Thị C', CAST(N'2000-03-03T00:00:00' AS SmallDateTime), N'nguyenthic@gmail.com', N'0123456789', N'789 Đường XYZ', 0, N'Không', N'Kinh', 0)
GO
INSERT [dbo].[KETQUA] ([MaKetQua], [TenKetQua], [ISDELETED]) VALUES (N'KQ001', N'Lên lớp', 0)
INSERT [dbo].[KETQUA] ([MaKetQua], [TenKetQua], [ISDELETED]) VALUES (N'KQ002', N'Ở lại lớp', 0)
GO
INSERT [dbo].[KHANANGGIANGDAY] ([MAGV], [MAMH], [ISDELETED]) VALUES (N'GV001', N'MH001', 0)
INSERT [dbo].[KHANANGGIANGDAY] ([MAGV], [MAMH], [ISDELETED]) VALUES (N'GV002', N'MH002', 0)
INSERT [dbo].[KHANANGGIANGDAY] ([MAGV], [MAMH], [ISDELETED]) VALUES (N'GV002', N'MH003', 0)
GO
INSERT [dbo].[KQHOCKYMONHOC] ([MAHS], [MAMH], [MAHK], [MANH], [DTBMonHocKy]) VALUES (N'HS001', N'MH001', N'HK001', N'N2023', 9.6)
INSERT [dbo].[KQHOCKYMONHOC] ([MAHS], [MAMH], [MAHK], [MANH], [DTBMonHocKy]) VALUES (N'HS001', N'MH001', N'HK002', N'N2023', 8)
INSERT [dbo].[KQHOCKYMONHOC] ([MAHS], [MAMH], [MAHK], [MANH], [DTBMonHocKy]) VALUES (N'HS001', N'MH002', N'HK001', N'N2023', 7.3)
GO
INSERT [dbo].[KQHOCKYTONGHOP] ([MAHS], [MAHK], [MANH], [MaHocLuc], [MaHanhKiem], [DTBTatCaMonHocKy]) VALUES (N'HS001', N'HK001', N'N2023', N'HL003', N'HK001', 6.1)
INSERT [dbo].[KQHOCKYTONGHOP] ([MAHS], [MAHK], [MANH], [MaHocLuc], [MaHanhKiem], [DTBTatCaMonHocKy]) VALUES (N'HS001', N'HK002', N'N2023', N'HL003', N'HK001', 6.3)
INSERT [dbo].[KQHOCKYTONGHOP] ([MAHS], [MAHK], [MANH], [MaHocLuc], [MaHanhKiem], [DTBTatCaMonHocKy]) VALUES (N'HS002', N'HK001', N'N2023', N'HL003', N'HK001', 5.7)
GO
INSERT [dbo].[KQNAMHOC] ([MAHS], [MANH], [MaHocLuc], [MaHanhKiem], [MaKetQua], [DTBNamHoc]) VALUES (N'HS001', N'N2023', N'HL003', N'HK001', N'KQ001', 6.1999999999999993)
INSERT [dbo].[KQNAMHOC] ([MAHS], [MANH], [MaHocLuc], [MaHanhKiem], [MaKetQua], [DTBNamHoc]) VALUES (N'HS002', N'N2023', N'HL003', N'HK001', N'KQ001', 5.85)
INSERT [dbo].[KQNAMHOC] ([MAHS], [MANH], [MaHocLuc], [MaHanhKiem], [MaKetQua], [DTBNamHoc]) VALUES (N'HS003', N'N2023', N'HL003', N'HK001', N'KQ001', 6)
GO
INSERT [dbo].[LOAIKIEMTRA] ([MALKT], [TENLOAIKIEMTRA], [TILE], [ISDELETED]) VALUES (N'LKT001', N'Kiểm tra miệng', 0.1, 0)
INSERT [dbo].[LOAIKIEMTRA] ([MALKT], [TENLOAIKIEMTRA], [TILE], [ISDELETED]) VALUES (N'LKT002', N'Kiểm tra 15 phút', 0.2, 0)
INSERT [dbo].[LOAIKIEMTRA] ([MALKT], [TENLOAIKIEMTRA], [TILE], [ISDELETED]) VALUES (N'LKT003', N'Kiểm tra 45 phút', 0.3, 0)
GO
INSERT [dbo].[LOP] ([MALOP], [KHOI], [TENLOP], [ISDELETED]) VALUES (N'L10A1', 10, N'A1', 0)
INSERT [dbo].[LOP] ([MALOP], [KHOI], [TENLOP], [ISDELETED]) VALUES (N'L10A2', 10, N'A2', 0)
INSERT [dbo].[LOP] ([MALOP], [KHOI], [TENLOP], [ISDELETED]) VALUES (N'L10A3', 10, N'A3', 0)
GO
INSERT [dbo].[LOPHOCTHUCTE] ([MALHTT], [MALOP], [MANH], [MAGVCN], [ISDELETED]) VALUES (N'N2023L10A1', N'L10A1', N'N2023', N'GV4', 0)
INSERT [dbo].[LOPHOCTHUCTE] ([MALHTT], [MALOP], [MANH], [MAGVCN], [ISDELETED]) VALUES (N'N2023L10A2', N'L10A2', N'N2023', NULL, 0)
INSERT [dbo].[LOPHOCTHUCTE] ([MALHTT], [MALOP], [MANH], [MAGVCN], [ISDELETED]) VALUES (N'N2023L10A3', N'L10A3', N'N2023', NULL, 0)
GO
INSERT [dbo].[LOPHOCTHUCTE_HOCSINH] ([MALHTT], [MAHS]) VALUES (N'N2023L10A1', N'HS001')
INSERT [dbo].[LOPHOCTHUCTE_HOCSINH] ([MALHTT], [MAHS]) VALUES (N'N2023L10A1', N'HS002')
INSERT [dbo].[LOPHOCTHUCTE_HOCSINH] ([MALHTT], [MAHS]) VALUES (N'N2023L10A1', N'HS003')
GO
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [ISDELETED]) VALUES (N'MH001', N'Toán', 0)
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [ISDELETED]) VALUES (N'MH002', N'Ngữ văn', 0)
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [ISDELETED]) VALUES (N'MH003', N'Vật lí', 0)
GO
INSERT [dbo].[NAMHOC] ([MANH], [TENNAMHOC], [ISDELETED]) VALUES (N'N2023', N'2023-2024', 0)
GO
INSERT [dbo].[NHANVIENPHONGDAOTAO] ([MANV], [USERNAME], [CHUCVU], [ISDELETED]) VALUES (N'NV001', N'user4', N'Thạc sĩ', 0)
INSERT [dbo].[NHANVIENPHONGDAOTAO] ([MANV], [USERNAME], [CHUCVU], [ISDELETED]) VALUES (N'NV002', N'user5', N'Trưởng phòng', 0)
INSERT [dbo].[NHANVIENPHONGDAOTAO] ([MANV], [USERNAME], [CHUCVU], [ISDELETED]) VALUES (N'NV003', N'user6', N'Trưởng phòng', 0)
GO
INSERT [dbo].[PHANCONGGIANGDAY] ([MANH], [MALHTT], [MAGV], [MAMH], [ISDELETED]) VALUES (N'N2023', N'N2023L10A1', N'GV4', N'MH001', 0)
INSERT [dbo].[PHANCONGGIANGDAY] ([MANH], [MALHTT], [MAGV], [MAMH], [ISDELETED]) VALUES (N'N2023', N'N2023L10A1', N'GV002', N'MH002', 0)
INSERT [dbo].[PHANCONGGIANGDAY] ([MANH], [MALHTT], [MAGV], [MAMH], [ISDELETED]) VALUES (N'N2023', N'N2023L10A1', N'GV4', N'MH003', 0)
GO
INSERT [dbo].[PHHS] ([MAPHHS], [MAHS], [HOTENPHHS], [SDT]) VALUES (N'PHHS001', N'HS003', N'Phụ huynh C', N'0123456789')
INSERT [dbo].[PHHS] ([MAPHHS], [MAHS], [HOTENPHHS], [SDT]) VALUES (N'PHHS002', N'HS004', N'Phụ huynh D', N'0987654321')
GO
INSERT [dbo].[TAIKHOAN] ([USERNAME], [PASSWRD], [VAITRO], [HOTEN], [NGSINH], [EMAIL], [DCHI], [GIOITINH], [ISDELETED]) VALUES (N'admin', N'admin', N'NV', N'Tien Anh', CAST(N'1985-07-17T00:00:00' AS SmallDateTime), N'tine@gmail.com', N'KTX khu c', 1, 0)
INSERT [dbo].[TAIKHOAN] ([USERNAME], [PASSWRD], [VAITRO], [HOTEN], [NGSINH], [EMAIL], [DCHI], [GIOITINH], [ISDELETED]) VALUES (N'minh', N'1', N'GV', N'Phan Văn Minh', CAST(N'1989-02-08T00:00:00' AS SmallDateTime), N'fff', N'ss', 0, 0)
INSERT [dbo].[TAIKHOAN] ([USERNAME], [PASSWRD], [VAITRO], [HOTEN], [NGSINH], [EMAIL], [DCHI], [GIOITINH], [ISDELETED]) VALUES (N'user1', N'1', N'GV', N'Nguyễn Văn A', CAST(N'1990-01-01T00:00:00' AS SmallDateTime), N'user1@example.com', N'Ð?a ch? 1', 0, 0)
GO
INSERT [dbo].[THAMSO] ([ID], [TENTS], [TYPETS], [GIATRI], [GHICHU], [ISDELETED]) VALUES (N'TS001', N'Tuổi tối thiểu học sinh', N'int', N'15', N'Số tuổi tối thiểu học sinh nhập học.', 0)
INSERT [dbo].[THAMSO] ([ID], [TENTS], [TYPETS], [GIATRI], [GHICHU], [ISDELETED]) VALUES (N'TS002', N'Tuổi tối đa học sinh', N'int', N'20', N'Số tổi tối đa học sinh nhập học.', 0)
INSERT [dbo].[THAMSO] ([ID], [TENTS], [TYPETS], [GIATRI], [GHICHU], [ISDELETED]) VALUES (N'TS003', N'Điểm số tối thiểu', N'double', N'0', N'Điểm số tối thiểu môn học.', 0)
GO
ALTER TABLE [dbo].[GIAOVIEN] ADD  DEFAULT ((0)) FOR [ISDELETED]
GO
ALTER TABLE [dbo].[HANHKIEM] ADD  DEFAULT ((0)) FOR [ISDELETED]
GO
ALTER TABLE [dbo].[HOCKY] ADD  DEFAULT ((0)) FOR [ISDELETED]
GO
ALTER TABLE [dbo].[HOCLUC] ADD  DEFAULT ((0)) FOR [ISDELETED]
GO
ALTER TABLE [dbo].[HOCSINH] ADD  DEFAULT ((0)) FOR [GIOITINH]
GO
ALTER TABLE [dbo].[HOCSINH] ADD  DEFAULT ((0)) FOR [ISDELETED]
GO
ALTER TABLE [dbo].[KETQUA] ADD  DEFAULT ((0)) FOR [ISDELETED]
GO
ALTER TABLE [dbo].[KHANANGGIANGDAY] ADD  DEFAULT ((0)) FOR [ISDELETED]
GO
ALTER TABLE [dbo].[LOAIKIEMTRA] ADD  DEFAULT ((0)) FOR [ISDELETED]
GO
ALTER TABLE [dbo].[LOP] ADD  DEFAULT ((0)) FOR [ISDELETED]
GO
ALTER TABLE [dbo].[LOPHOCTHUCTE] ADD  DEFAULT ((0)) FOR [ISDELETED]
GO
ALTER TABLE [dbo].[MONHOC] ADD  DEFAULT ((0)) FOR [ISDELETED]
GO
ALTER TABLE [dbo].[NAMHOC] ADD  DEFAULT ((0)) FOR [ISDELETED]
GO
ALTER TABLE [dbo].[NHANVIENPHONGDAOTAO] ADD  DEFAULT ((0)) FOR [ISDELETED]
GO
ALTER TABLE [dbo].[PHANCONGGIANGDAY] ADD  DEFAULT ((0)) FOR [ISDELETED]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  DEFAULT ((0)) FOR [GIOITINH]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  DEFAULT ((0)) FOR [ISDELETED]
GO
ALTER TABLE [dbo].[THAMSO] ADD  DEFAULT ((0)) FOR [ISDELETED]
GO
ALTER TABLE [dbo].[DIEMMONHOC]  WITH CHECK ADD FOREIGN KEY([MALKT])
REFERENCES [dbo].[LOAIKIEMTRA] ([MALKT])
GO
ALTER TABLE [dbo].[DIEMMONHOC]  WITH CHECK ADD FOREIGN KEY([MAHK])
REFERENCES [dbo].[HOCKY] ([MAHK])
GO
ALTER TABLE [dbo].[DIEMMONHOC]  WITH CHECK ADD FOREIGN KEY([MAHS])
REFERENCES [dbo].[HOCSINH] ([MAHS])
GO
ALTER TABLE [dbo].[DIEMMONHOC]  WITH CHECK ADD FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[DIEMMONHOC]  WITH CHECK ADD FOREIGN KEY([MANH])
REFERENCES [dbo].[NAMHOC] ([MANH])
GO
ALTER TABLE [dbo].[DIEMTRUNGBINHMONHOCNAMHOC]  WITH CHECK ADD FOREIGN KEY([MAHS])
REFERENCES [dbo].[HOCSINH] ([MAHS])
GO
ALTER TABLE [dbo].[DIEMTRUNGBINHMONHOCNAMHOC]  WITH CHECK ADD FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[DIEMTRUNGBINHMONHOCNAMHOC]  WITH CHECK ADD FOREIGN KEY([MANH])
REFERENCES [dbo].[NAMHOC] ([MANH])
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH NOCHECK ADD FOREIGN KEY([USERNAME])
REFERENCES [dbo].[TAIKHOAN] ([USERNAME])
GO
ALTER TABLE [dbo].[KHANANGGIANGDAY]  WITH NOCHECK ADD FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[KHANANGGIANGDAY]  WITH NOCHECK ADD FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[KQHOCKYMONHOC]  WITH NOCHECK ADD FOREIGN KEY([MAHK])
REFERENCES [dbo].[HOCKY] ([MAHK])
GO
ALTER TABLE [dbo].[KQHOCKYMONHOC]  WITH NOCHECK ADD FOREIGN KEY([MAHS])
REFERENCES [dbo].[HOCSINH] ([MAHS])
GO
ALTER TABLE [dbo].[KQHOCKYMONHOC]  WITH NOCHECK ADD FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[KQHOCKYMONHOC]  WITH NOCHECK ADD FOREIGN KEY([MANH])
REFERENCES [dbo].[NAMHOC] ([MANH])
GO
ALTER TABLE [dbo].[KQHOCKYTONGHOP]  WITH NOCHECK ADD FOREIGN KEY([MaHanhKiem])
REFERENCES [dbo].[HANHKIEM] ([MaHanhKiem])
GO
ALTER TABLE [dbo].[KQHOCKYTONGHOP]  WITH NOCHECK ADD FOREIGN KEY([MaHocLuc])
REFERENCES [dbo].[HOCLUC] ([MaHocLuc])
GO
ALTER TABLE [dbo].[KQHOCKYTONGHOP]  WITH NOCHECK ADD FOREIGN KEY([MAHK])
REFERENCES [dbo].[HOCKY] ([MAHK])
GO
ALTER TABLE [dbo].[KQHOCKYTONGHOP]  WITH NOCHECK ADD FOREIGN KEY([MAHS])
REFERENCES [dbo].[HOCSINH] ([MAHS])
GO
ALTER TABLE [dbo].[KQHOCKYTONGHOP]  WITH NOCHECK ADD FOREIGN KEY([MANH])
REFERENCES [dbo].[NAMHOC] ([MANH])
GO
ALTER TABLE [dbo].[KQNAMHOC]  WITH NOCHECK ADD FOREIGN KEY([MaHanhKiem])
REFERENCES [dbo].[HANHKIEM] ([MaHanhKiem])
GO
ALTER TABLE [dbo].[KQNAMHOC]  WITH NOCHECK ADD FOREIGN KEY([MaHocLuc])
REFERENCES [dbo].[HOCLUC] ([MaHocLuc])
GO
ALTER TABLE [dbo].[KQNAMHOC]  WITH NOCHECK ADD FOREIGN KEY([MAHS])
REFERENCES [dbo].[HOCSINH] ([MAHS])
GO
ALTER TABLE [dbo].[KQNAMHOC]  WITH NOCHECK ADD FOREIGN KEY([MaKetQua])
REFERENCES [dbo].[KETQUA] ([MaKetQua])
GO
ALTER TABLE [dbo].[KQNAMHOC]  WITH NOCHECK ADD FOREIGN KEY([MANH])
REFERENCES [dbo].[NAMHOC] ([MANH])
GO
ALTER TABLE [dbo].[LOPHOCTHUCTE]  WITH NOCHECK ADD FOREIGN KEY([MAGVCN])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[LOPHOCTHUCTE]  WITH NOCHECK ADD FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[LOPHOCTHUCTE]  WITH NOCHECK ADD FOREIGN KEY([MANH])
REFERENCES [dbo].[NAMHOC] ([MANH])
GO
ALTER TABLE [dbo].[LOPHOCTHUCTE_HOCSINH]  WITH NOCHECK ADD FOREIGN KEY([MALHTT])
REFERENCES [dbo].[LOPHOCTHUCTE] ([MALHTT])
GO
ALTER TABLE [dbo].[LOPHOCTHUCTE_HOCSINH]  WITH NOCHECK ADD FOREIGN KEY([MAHS])
REFERENCES [dbo].[HOCSINH] ([MAHS])
GO
ALTER TABLE [dbo].[NHANVIENPHONGDAOTAO]  WITH NOCHECK ADD FOREIGN KEY([USERNAME])
REFERENCES [dbo].[TAIKHOAN] ([USERNAME])
GO
ALTER TABLE [dbo].[PHANCONGGIANGDAY]  WITH NOCHECK ADD FOREIGN KEY([MALHTT])
REFERENCES [dbo].[LOPHOCTHUCTE] ([MALHTT])
GO
ALTER TABLE [dbo].[PHANCONGGIANGDAY]  WITH NOCHECK ADD FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[PHANCONGGIANGDAY]  WITH NOCHECK ADD FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[PHANCONGGIANGDAY]  WITH NOCHECK ADD FOREIGN KEY([MANH])
REFERENCES [dbo].[NAMHOC] ([MANH])
GO
ALTER TABLE [dbo].[PHANCONGGIANGDAY]  WITH NOCHECK ADD FOREIGN KEY([MAGV], [MAMH])
REFERENCES [dbo].[KHANANGGIANGDAY] ([MAGV], [MAMH])
GO
ALTER TABLE [dbo].[PHHS]  WITH NOCHECK ADD FOREIGN KEY([MAHS])
REFERENCES [dbo].[HOCSINH] ([MAHS])
GO
USE [master]
GO
